<%- include('../layouts/header.ejs') -%>
<style>
    .form-login {
     margin: 0 auto;
     max-width: 400px;
   } 
   .align-form{
    margin-top: 10%;
   }
 </style>
<div class="container-fluid  ">
    <div class="align-form ">
        <h3 class="text-center">Enter your Email Address</h3>
        <form action="/forgetPassword" method="post" class="form-login">
            <div class="form-group mb-2">
                <!-- <label for="country_code" class="form-label">country_code</label>
                <input type="number" name="country_code" placeholder="+91" value="+91" class="form-control" required> -->
            </div>
            <div class="form-group mb-2">
                <!-- <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" name="phone" placeholder="phone Number" class="form-control"  required> -->
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="Email" class="form-control"  required>
            </div>
            <br>
            <div class="form-group mb-2">
                <input type="submit" class="btn btn-dark form-control" >
            </div>
            <% if(typeof message !== 'undefined'){ %>
                <p><%= message %></p>
            <%
            } %>

        </form>
    </div>

</div>



<%- include('../layouts/header.ejs') -%>